<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soil Farming Agent | Admin Page | Soil</title>
    <link rel="stylesheet" href="/static/css/admin/admin.css">
</head>
<body>
    
    <div class="title">
            <div class="tlogo">
                <img src="/static/images/img/OIG.jpg" alt="">
            </div>
            
            <div class="profile_pic">
                <img src="/{{user.profilePhoto}}" alt="">
            </div>
        </div>
        <div class="admin_panel">
            <div class="navbar">
                <div class="navigation"><a href="/admin/admin_distributors/"><b>Distributors</b></a></div>
                <div class="navigation"><a href="/admin/admin_soil/"class="active"><b>Soils</b></a></div>
                <div class="navigation"><a href="/admin/admin_profile/"><b>Profile</b></a></div>
                
            </div>
            <div class="content">
                <h1>Soils</h1>
                <div class="main">
                    <a href="/admin/soils_list/">
                        <div class="box first" id="soils">
                            <label for="soils"><h1 >Soils</h1></label>
                        </div>
                    </a>
                    <a href="/admin/soil_input/">
                        <div class="box" id="users">
                            <label for="users"><h1>Add Soil</h1></label>
                        </div>
                    </a>
        </div>
        
            
            
            
            
            
          </div>  
        </div>
</body>
</html>